.ProductList {
  text-align: left;
}

.no-item-found-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  font-size: 24px;
  font-weight: bold;
  color: #999;
  width: 100%;
}

.sort-feature-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.filter-feature-container {
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  border-radius: 5px;
  text-align: left;
  margin: 10px;
  padding-left: 5px;
}
